@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
.work-sans-fonts {
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }

  /* shared style */
.display-flex{
  display: flex;
}
.btn-primary{
  background-color: #FF900E;
  color: #FFFFFF;
  padding: 20px 25px;
  font-size: 1.25rem;
  border: none;
  border-radius: 8px;
  font-weight: 600;
}

/* Color */
.bg-color{
  background-color: rgba(255, 144, 14, 0.1);
}
.dark-1{
  color: #131313;
}
.dark-2{
  color: #424242;
}
.dark-3{
  color: #727272;
}
.font-size45{
  font-size: 2.8rem;
  font-weight: 500;
  color: #424242;
  margin-top: 8px;
  margin-bottom: 8px;
}


/* navbar styles */
.navbar, .banner{
  max-width: 1440px;
  margin: 0 auto;
}
.brand-name{
  font-weight: 700;
  font-size: 3rem;
}
.navbar{
  justify-content: space-between;
  align-items: center;
}
.item-list{
  list-style: none;
  margin-left: 30px;
}
.item-link{
  text-decoration: none;
  font-weight: 500;
  font-size: 1rem;
}
/* banner section */

.banner-content{
  max-width: 850px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 50px;
}
.banner-titile{
  font-size: 3rem;
  font-weight: 700;
}
.banner-description{
  font-size: 1rem;
  font-weight: 400;
}

.banner-image{
  width: 100%;
}
/* main section */

main{
  max-width: 1440px;
  margin: 0 auto;
}
main > section{
  margin-top: 130px;
}
.teams{
  align-items: center;
}
.team-img-container{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 20px;
}
.our-features{
  margin-left: 70px;
  max-width: 520px;
}
.features-titile, .features-titile-1{
  font-size: 3rem;
  font-weight: 700;
}
#quick-list{
  font-weight: 500;
}
.features-text{
  color: #FF900E;
}
.features-description{
  font-size: 1rem;
}
/* futured style */


.future-container{
  gap: 140px;
  box-shadow: none;
}

.features-titile{
  border-left: 5px solid #FF900E;
  padding-left: 20px;
}
.box-shadow-future{
  padding: 30px;
  box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.06);
  border-radius: 8px;
  margin-bottom: 20px;
}
.features-description{
  font-size:1rem;
  font-weight: 500;
  color: #727272;
}

.btn-experience{
  background-color: #FF900E;
  border: none;
  color: white;
  padding: 45px 42px;
  border-radius: 8px;
  margin-left: -100px;
  margin-top: -100px;
}
#experience{
  font-size: 3rem;
  font-weight: 700;
}
.experience-title{
  font-size: 1.40rem;
  font-weight: 500;
}
.future-architect img{
  width: 100%;
}


/* fact item style */
.fact-container{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.fact-description{
  max-width: 540px;
}
.fact-card{
  border: 1px solid #FF900E;
  height: 240px;
  width: 240px;
  border-radius: 8px;
  text-align: center;
  align-items: center;
  justify-content: center;
}
.fact-award-title{
  color: #727272;
  font-size: 1.2rem;
  font-weight: 600;
  margin-top: 10px;
}

/* sponser style  */
.sponsers-info{
  max-width: 540px;
  margin: 50px auto;
  text-align: center;
}

.sponsers-image{
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}
.sponsers-image{
  filter: grayscale(100%);
}

/* footer section */

footer{
  margin: 0 auto;
  max-width: 1440px;
  background-color: #FFF4E7;
  margin-top: 130px;
  border-radius: 8px;
}
.footer-reserved{
  font-size: 20px;
  text-align: center;
  padding: 40px 0;
}

/* responsive with media query */

@media screen and (max-width: 576px) {
  .display-flex,
  .future-container
  {
    flex-direction: column;
  }
  .team-img-container{
    grid-template-columns: repeat(1, 1fr);
  }
  .btn-experience{
    margin-top: 10px;
    margin-left: 80px;
  }
  .our-features{
    margin-left: 10px;
  }
  .team-img-container img{
    width: 100%;
  }
  .fact-container{
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;
    gap: 24px;
  }
  .sponsers-image{
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;
    gap: 40px;
  }
}


/* medium device */

@media screen and (min-width:576px) and (max-width:992px) {
  .teams{
    flex-direction: column;
    margin: 20px auto;
  }
  .fact-container{
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    gap: 10px;
  }
  .future-container{
    flex-direction: column;
  }
  .sponsers-image{
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    gap: 10px;
  }
  .btn-experience{
    margin-left: 30px;
    margin-top: 20px;
  }
}